@page "/"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="landing-page">
    <h1 class="title">Rent Cars</h1>
    <div class="button-group">
        <button @onclick="MoveToLogin" class="button">Login</button>
        <button @onclick="MoveToRegister" class="button">Register</button>
    </div>
</div>

<style>
    .landing-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: url('https://www.shutterstock.com/image-photo/blurred-abstract-dealership-store-defocused-600nw-1486381349.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 4px #000000;
    }

    .title {
        font-size: 4em;
        margin-bottom: 1em;
    }

    .button-group {
        display: flex;
        gap: 1em;
    }

    .button {
        padding: 0.5em 2em;
        font-size: 1em;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: rgba(0, 123, 255, 0.8);
        color: white;
        text-shadow: none;
    }

        .button:hover {
            background-color: rgba(0, 86, 179, 0.8);
        }
</style>

@code {
    static UserDBUsage Userdb = new();
    static CarDBUsage Cardb = new();

    protected override void OnInitialized()
    {
        Userdb.CreateFile();
        Userdb.CreateUserTable();
        Cardb.CreateCarTable();
    }

    public void MoveToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }

    public void MoveToRegister()
    {
        NavigationManager.NavigateTo("/register");
    }
}
