@page "/login"
@using RentCars.Model
@inject NavigationManager NavigationManager
@inject DataService SharedUser
@rendermode InteractiveServer

<PageTitle>Log In</PageTitle>

<h3>Login</h3>


<div>
    <label >Username:</label>
    <input type="text" id="username" @bind="username" />

    <label >Password:</label>
    <input type="password" id="password" @bind="password" />

    <button @onclick="LogIn">Login</button>

    @if (!samepw)
    {
        <div>The password is wrong.</div>
    }
    @if (loginError)
    {
        <p style="color: red;">Invalid username or password.</p>
    }
</div>

<button @onclick="MoveToRegister">Register</button>

@code {
    private string username;
    private string password;
    private bool loginError;
    static UserDBUsage db = new();
    private bool samepw = true;


    private void LogIn()
    {
        User user = db.SelectFromUserTable(username);

        if (user != null)
        {
            if(user.Password == password)
            {
                SharedUser.SharedUserID = user.UID;
                NavigationManager.NavigateTo("/carshow");
            }
            else
            {
                samepw = false;
            }
        }
        else
        {
            loginError = true;
        }
    }
    public void MoveToRegister()
    {
        
        NavigationManager.NavigateTo("/register");

    }
}